body {
	background-color: #2196f3;
}

h1 {
	color: #ffeb3b;
}

label {
	background-color: #ffeb3b;
	width: auto;
	padding: 0 1em;
	border: 1px solid black;
	border-radius: 8px;
	display: inline-block; 
	text-align: center;
	font-family: verdana;
}

input {
	cursor: pointer;
	border: 1px solid black;
	border-radius: 8px;
	padding: 0.2em 1em;
}

input:visited {
	color: grey;
}

input:link {
	color: black;
	text-decoration: none;
}

input:hover {
	color: #2196f3;
}

a {
	background-color: silver;
	border: 1px solid black;
	border-radius: 8px;
	padding: 0.2em 1em;
	text-decoration: none;
}

a:visited {
	color: grey;
}

a:link {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #2196f3;
}