body {
	background-color: #2196f3;
}

label {
	background-color: #ffeb3b;
	width: 6em;
	padding: 0 1em;
	border: 1px solid black;
	border-radius: 8px;
	display: inline-block; 
	text-align: center;
	font-family: verdana;
}

input {
	border: 1px solid black;
	border-radius: 8px;
	padding: 0.2em 1em;
	cursor: pointer;
}