body {
	background-color: #2196f3;
}

h1 {
	color: #ffeb3b;
	font-family: verdana;
}

label {
	background-color: #ffeb3b;
	width: 12em;
	padding: 0 1em;
	border: 1px solid black;
	border-radius: 8px;
	display: inline-block; 
	text-align: center;
	font-family: verdana;
}

input {
	border: 1px solid black;
	border-radius: 8px;
	padding: 0.2em 1em;
}

#dir {
	background-color: snow;
}

textarea {
	width: 30em;
	height: 10em;
}

a {
	border: 1px solid black;
	border-radius: 8px;
	padding: 0.2em 1em;
	text-decoration: none;
	width: 6em;
	height: 6em;
	background-color: silver;
}

a:visited {
	color: grey;
}

a:link {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #2196f3;
}